@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap");

:root {
  --White: hsl(0, 0%, 100%);
  --LightPink: hsl(275, 100%, 97%);
  --GrayishPurple: hsl(292, 16%, 49%);
  --DarkPurple: hsl(292, 42%, 14%);
  --Pink: hsl(280.92deg 82.98% 53.92%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--LightPink);
  font-family: "Work Sans", sans-serif;
}

main {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 302px;
  background: url(assets/images/background-pattern-desktop.svg);
}

.card {
  position: relative;
  z-index: 1;
  top: 200px;
  max-width: 655px;
  margin: auto;
  border-radius: 10px;
  background-color: var(--White);
  box-shadow: 0px 32px 56px 0px rgba(80, 0, 118, 0.1);
}

.faqs span,
h1 {
  display: flex;
  align-items: center;
  gap: 15px;
  color: var(--DarkPurple);
}

.faqs {
  margin: 0 20px;
  padding: 20px;
}

h4 {
  font-weight: bolder;
  padding: 10px;
  color: var(--DarkPurple);
}

h4:hover {
  cursor: pointer;
  color: var(--Pink);
}

p {
  padding: 10px;
  font-size: 17px;
  line-height: 23px;
  color: var(--GrayishPurple);
}

.faq {
  padding: 10px;
  padding-bottom: 20px;
  margin: 0 25px;
  border-bottom: 2px solid var(--LightPink);
}

.faq span {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.expand {
  display: none;
}

footer {
  display: flex;
  justify-content: center;
}

.attribution {
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 600px) {
  .card {
    width: 416px;
  }
}

@media screen and (max-width: 420px) {
  .card {
    width: 360px;
  }
}